.container {
  width: 50vw;
  min-width: 300px;
  max-width: 600px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textField {
  margin-bottom: 24px;
}

.cancelButton {
  margin-right: 12px;
}
