.container {
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
}

.addStatus {
  margin-top: 24px;
  height: 40px;
  min-width: 324px;
}

.statusTextField {
  margin-top: 24px;
  min-width: 324px;
}
