$mobile-breakpoint: 480px;
$tablet-breakpoint: 960px;

$default-background-color: white;
$darker-background-color: #f3f3f3;
$darkened-background-color: rgba(201, 201, 201, 0.8);

$header-height: 70px;
