$mobile-breakpoint: 480px;
$tablet-breakpoint: 960px;

$light-text-color: white;
$lighter-text-color: #6e6e6e;
$dark-text-color: black;

$border-color: #dfdfdf;

$default-background-color: white;
$slightly-darker-background-color: rgb(250, 250, 250);
$darker-background-color: #f3f3f3;
$darkened-background-color: rgba(201, 201, 201, 0.8);

$header-height: 70px;

$red-color: red;
$orange-color: orange;
$blue-color: blue;
$green-color: green;

$default-border-radius: 12px;
